@{
    ViewData["Title"] = "Home Page";
}

<div>Welcome to the Homepage</div>
<button id="newResume">Make new Resume</button>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#newResume').click(function () {
            window.location.href = '/pdf';
        });
    });
</script>