@{
    ViewData["Title"] = "HomePage";
}


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Maker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid align-content-center">
            <a class="navbar-brand" href="/">Resume Maker</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <span class="d-flex">
                    <button type="button" class="btn btn-sm btn-primary" id="newResume">Build my resume</button>
                </span>
            </div>
        </div>
    </nav>

    <!-- content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 align-self-center">
                <h1>Get your dream job with the Resume Maker professional resume builder</h1>
                <p>
                    Create the perfect resume in just minutes by choosing from 200+ resume template configurations to best
                    exemplify your professional experience.
                </p>
                <button type="button" class="btn btn-lg btn-primary" id="newResume1">Build my resume</button>
            </div>
            <div class="col-sm-4">
                <img src="~/assets/resumeFolder.gif" />
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>



<script>
    $(document).ready(function () {
        $('#newResume').click(function () {
            window.location.href = '/pdf';
        });

        $('#newResume1').click(function () {
            window.location.href = '/pdf';
        });
    });
</script>