@model Resume.Models.Education
<div class="educationForm">
    <div class="d-flex flex-row justify-content-center align-items-center mb-2">
        <div class="input-group input-group-lg mb-2">
            <input type="text" name="Degree" class="form-control" id="degree" placeholder="Degree Level">
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center mb-2">
        <div class="input-group input-group-lg mb-2">
            <input type="text" name="FieldOfStudy" class="form-control" id="fieldOfStudy" placeholder="Field of Study">
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center mb-2">
        <div class="input-group input-group-lg mb-2">
            <input type="text" name="Institution" class="form-control" id="institution" placeholder="Institution Name">
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center mb-2">
        <div class="input-group input-group-lg mb-2">
            <input type="text" name="Year" class="form-control" id="year" placeholder="Year of graduation">
        </div>
    </div>
</div>