@model Resume.Models.Experience
<div class="experienceForm">
    <div class="d-flex flex-row justify-content-center align-items-center mb-2">
        <div class="input-group input-group-lg mb-2">
            <input type="text" name="Degree" class="form-control" id="jobTitle" placeholder="Job Title">
        </div>
    </div>
</div>